/* imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* variables */
:root {
  /* colors */
  --deep-blue: #1f2937;
  --bright-blue: #3882f6;
  --white: #f9faf8;
  --light-grey: #e5e7eb;
  /* fonts */
  --font: "Roboto", sans-serif;
}

/* typography */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
.small,
.fine {
  font-family: var(--font);
}

.h1 {
  font-size: 2.986rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.025rem;
}

.h2 {
  font-size: 2.488rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.025rem;
}

.h3 {
  font-size: 2.074rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.025rem;
}

.h4 {
  font-size: 1.728rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.025rem;
}

.h5 {
  font-size: 1.44rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.025rem;
}

.h6 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.025rem;
}

.p {
  font-size: 1rem;
  line-height: 1.5;
}

.small {
  font-size: 0.833rem;
  line-height: 1.5;
}

.fine {
  font-size: 0.694rem;
  line-height: 1.5;
}

/* global box-sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* global styling */
body {
  padding: 0;
  margin: 0;
}

/* header/nav section styling */
.header {
  width: 100%;
  background-color: var(--deep-blue);
}

.header__container {
  width: 100%;
  max-width: 1024px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--white);
  font-family: var(--font);
  font-weight: bold;
  margin: 0;
}

.header__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.header__nav-item {
  color: var(--light-grey);
  font-family: var(--font);
}

/* hero section styling */
.hero {
  width: 100%;
  background-color: var(--deep-blue);
}

.hero__container {
  width: 100%;
  max-width: 1024px;
  padding: 6rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__copy,
.hero__img-frame {
  width: calc(100% / 2);
}

.hero__copy-heading {
  color: var(--white);
  padding: 0;
  margin: 0 0 1rem 0;
}

.hero__copy-subtext {
  color: var(--light-grey);
  text-wrap: balance;
}

.hero__button {
  color: var(--white);
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0 0 0;
  background-color: var(--bright-blue);
  border: none;
  border-radius: 0.5rem;
}

.hero__img-frame {
  /* width defined above */
  /* width: 100%; */
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;
}

.hero__img {
  width: 100%;
  height: auto;
}

/* card section styling */
.card {
  width: 100%;
  padding: 6rem 1rem;
}

.card__heading {
  text-align: center;
  padding: 0;
  margin: 0 0 2.5rem 0;
}

.card__flex {
  width: 100%;
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
}

.card__flex-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card__img-frame {
  width: 160px;
  aspect-ratio: 1 / 1;
  padding: 0;
  margin: 1.25rem;
  border: 4px solid var(--bright-blue);
  border-radius: 1rem;
}

.card__subtext {
  color: #737476;
  text-align: center;
  text-wrap: balance;
}

/* quote section */
.quote {
  width: 100%;
  padding: 6rem 1rem;
  margin: 0;
  background-color: var(--light-grey);
}

.quote__quote-copy {
  width: 100%;
  max-width: 840px;
  padding: 0;
  margin: 0 auto 2.5rem auto;
  font-family: var(--font);
  color: var(--deep-blue);
  font-size: 2.074rem;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic;
}

.quote__quote-credit {
  width: 100%;
  max-width: 840px;
  padding: 0;
  margin: 0 auto;
  color: var(--deep-blue);
  text-align: right;
}

/* cta section styling */
.cta {
  width: 100%;
  padding: 5rem 1rem;
  margin: 0;
}

.cta__container {
  width: 100%;
  max-width: 1024px;
  padding: 3rem;
  margin: 0 auto;
  background-color: var(--bright-blue);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.cta__copy-heading {
  color: var(--white);
  padding: 0;
  margin: 0 0 0.5rem 0;
}

.cta__copy-subtext {
  color: var(--light-grey);
  padding: 0;
  margin: 0;
}

.cta__button {
  color: var(--white);
  padding: 0.5rem 1.5rem;
  background-color: var(--bright-blue);
  border: 3px solid var(--white);
  border-radius: 0.5rem;
}

/* footer styling */
.footer {
  width: 100%;
  background-color: var(--deep-blue);
}

.footer__container {
  width: 100%;
  max-width: 1024px;
  padding: 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__copy {
  color: var(--light-grey);
}
